.form {
  width: 100%;
  display: flex;
}

.input {
  flex: 1;
  margin-right: 10px;
  padding-inline: 10px;
  border-radius: 5px;
  border: solid 1px #3c3c3c;
  font-size: 18px;
}

.button {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #3c3c3c;

  transition: background-color 0.2s;
}

.button:hover {
  background-color: #505050;
}
